* {
  box-sizing: border-box;
}
body {
  width: auto;
  height: auto;
  padding-top: 150px;
  background-color: #f1c27d;

}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
  border: 6px solid #e0ac69;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  text-align: center;

}
h2 {
  text-align: center;

}

